.trending-bg, .landing-bg {
    background-size: cover;
    background-position: center;
}

.white {
    color: #ffffff;
}

.signUp {
    font-size: .75rem;
}

.lettuce {
    position: absolute;
    margin: 0 600px;
}

.searchImg {
    float: left;
    clear: both;
    width: 150px;
    height: 150px;
}

.searchLink {
    color: #000000;
    text-decoration: none !important;
}

.searchLink:hover {
    color: #ff0000;
}

#recipeImg {
    float: left;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #00bb22;
}

blockquote:after {
    display: block;
    padding-left: 10px;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    right: 50px;
    top: 0px;
    color: #00bb22;
}

#passHelp {
    display: none;
    color: #ff0000;
}

#passConfirm {
    display: none;
    color: #ff0000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        padding-top: 20px;
    }
    .logo, .searchImg, .featurette-image {
        display: none;
    }
    .trending-bg{
        background-image: url("../img/trending_md.jpg");
        height: 300px;
    }
    .landing-bg {
        background-image: url("../img/background_md.jpg");
        height: 300px;
    }
    .trend-title h1, h2{
        font-size: 2em;
        margin-top: 10px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .lettuce, .searchImg, .featurette-image {
        display: none;
    }
    .trending-bg{
        background-image: url("../img/trending_md.jpg");
        height: 300px;
    }
    .landing-bg {
        background-image: url("../img/background_md.jpg");
        height: 300px;
    }
    .trend-title h1, h2{
        font-size: 2em;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .lettuce, .searchImg, .featurette-image {
        display: initial;
    }
    .trending-bg {
        background-image: url("../img/trending.jpg");
        height: 400px;
    }
    .landing-bg {
        background-image: url("../img/background.jpg");
        height: 400px;
    }
    .trend-title h1, h2{
        font-size: 3em;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .lettuce, .searchImg, .featurette-image {
        display: initial;
    }
    .trending-bg {
        background-image: url("../img/trending.jpg");
        height: 400px;
        
    }
    .landing-bg {
        background-image: url("../img/background.jpg");
        height: 400px;
    }
    .trend-title h1, h2{
        font-size: 3em;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .lettuce, .searchImg, .featurette-image {
        display: initial;
    }
    .trending-bg{
        background-image: url("../img/trending.jpg");
        height: 400px;
    }
    .landing-bg {
        background-image: url("../img/background.jpg");
        height: 400px;
    }
    .trend-title h1, h2{
        font-size: 3em;
    }
} 