.jumbotron {
    background-image: url("../img/background.jpg");
    background-size: cover !important;
}

.white {
    color: #ffffff;
}

.signUp {
    font-size: .75rem;
}

.lettuce {
    position: absolute;
    margin: 0 600px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        padding-top: 20px;
    }
    .logo{
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .lettuce {
        display: none;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .lettuce {
        display: initial;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .lettuce {
        display: initial;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .lettuce {
        display: initial;
    }
} 