.landing-bg {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.trending-bg {
    background-size: cover;
    background-position: center;
}

.white {
    color: #ffffff;
}

.signUp {
    font-size: .75rem;
}

.lettuce {
    position: absolute;
    margin: 0 600px;
}

.searchImg {
    float: left;
    clear: both;
    width: 150px;
    height: 150px;
}

#recipeImg {
    float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        padding-top: 20px;
    }
    .logo, .searchImg, .featurette-image {
        display: none;
    }
    .trending-bg{
        background-image: url("../img/trending_md.jpg");
        height: 300px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .lettuce, .searchImg, .featurette-image {
        display: none;
    }
    .trending-bg{
        background-image: url("../img/trending_md.jpg");
        height: 300px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .lettuce, .searchImg, .featurette-image {
        display: initial;
    }
    .trending-bg{
        background-image: url("../img/trending.jpg");
        height: 400px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .lettuce, .searchImg, .featurette-image {
        display: initial;
    }
    .trending-bg{
        background-image: url("../img/trending.jpg");
        height: 400px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .lettuce, .searchImg, .featurette-image {
        display: initial;
    }
    .trending-bg{
        background-image: url("../img/trending.jpg");
        height: 400px;
    }
} 